<div class="btn-group d-flex mb-3">
  <% animal_types.each do |animal_type| %>
    <%= link_to animals_path(name: animal_type.name), class: "btn btn-light text-dark" do %>
      <%= animal_type.name %>
    <% end %>
  <% end %>
</div>