<% zoos.each do |zoo| %>
  <div class="col-12 pt-2">
    <%= link_to admin_zoo_path(zoo), class: "btn btn-primary btn-lg btn-block text-left border border-dark" do %>
      <%= zoo.name %>
    <% end %>
  </div>
<% end %>