<div class="container pt-3">
  <div class="row">
    <div class="col-2">
      <h3>動物園一覧</h3>
    </div>
    <div class="col-2">
      <%= link_to "新規登録", new_admin_zoo_path, class: "btn btn-success" %>
    </div>
  </div>

  <% sorted_zoos = @zoos.sort_by { |zoo| regions_for_select.index(zoo.region) } %>
  <% sorted_zoos.group_by(&:region).each do |region, zoos| %>
    <div class="row pt-4">
      <div class="col-12 pt-2">
        <h4 class="border-bottom border-warning"><%= region %></h4>
      </div>
    </div>
    <div class="row">
      <%= render 'zoo_list', zoos: zoos %>
    </div>
  <% end %>
</div>