<div class="container pt-5">
  <div class="row">
    <div class='col-12 text-center'>
      <h1>ZooNaviについて</h1>
      <p class="pt-5">
        「ZooNavi」は日本国内の動物園紹介サイトです。<br>
        動物園の情報（開園時間、料金、園内の動物など）を掲載しています。<br>
        また、動物の情報も掲載しており、お好きな動物から、その動物を見ることのできる動物園を調べることもできます。<br>
        <br>
        ★動物園情報の出所<br>
        現在登録されている動物園はテスト用に登録した架空の動物園になります。<br>
      </p>
    </div>
  </div>
</div>