<div class="container pt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>ZooNaviへようこそ！</h1>
      <p class="pt-5">
        こちらは管理者用アカウントのTOPページです。
      </p>
    </div>
  </div>
</div>