<table class="table">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>コメント</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% zoo_review.review_comments.each do |review_comment| %>
      <tr>
        <td style="width: 20%;"><%= review_comment.user.nickname %></td>
        <td style="width: 70%;"><%= review_comment.comment %></td>
        <td style="width: 10%;">
          <%= link_to "削除", admin_user_zoo_review_review_comment_path(@zoo_review.user, @zoo_review, review_comment), method: :delete, class: "btn btn-danger pull-right" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>