      <div class="row">
        <% @zoos.each do |zoo| %>
          <div class="col-sm-3">
            <p>
              <%= link_to zoo_path(zoo) do %>
                <%= image_tag zoo.get_image(120, 80) %>
              <% end %>
            </p>
            <div><%= zoo.name %></div>
            <div><%= zoo.description %></div>
          </div>
        <% end %>
      </div>