<div class="container pt-3">
  <% sorted_zoos = @zoos.sort_by { |zoo| regions_for_select.index(zoo.region) } %>
  <% sorted_zoos.group_by(&:region).each do |region, zoos| %>
    <div class="row pt-4">
      <div class="col-12 pt-2">
        <h4 class="border-bottom border-warning"><%= region %></h4>
      </div>
    </div>
    <div class="row">
      <%= render 'zoo_list', zoos: zoos %>
    </div>
  <% end %>
</div>