<div class="container">
  <div class="row pt-5">
    <div class="col-xl-2 col-md-3">
      <%= render "search_zoo", zoos: Zoo.all %>
    </div>
    <div class="col-xl-10 col-md-9">
      <h4 class="d-inline-block">動物園一覧</h4>
      <%= render 'index', zoos: @zoos%>
    </div>
  </div>
</div>