<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-start">
      <h3>ユーザー一覧</h3>
    </div>
  </div>
  <div class="row">
    <table class="table bg-light">
      <thead class="thead-light">
        <tr>
          <th>ユーザーID</th>
          <th>ニックネーム</th>
          <th>メールアドレス</th>
          <th>ユーザーステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.nickname %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <% if user.is_active == true %>
              <td class="text-success font-weight-bold">有効</td>
            <% else %>
              <td class="text-secondary font-weight-bold">退会</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>