<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @zoo_reviews.each do |zoo_review| %>
      <tr>
        <td><%= link_to zoo_review.title,zoo_review, class: "zoo_review_#{zoo_review.id}" %></td>
        <td><%= zoo_review.body %></td>
        <td><%= render "review_comments/counter", zoo_review: zoo_review %></td>
        <td><%= render "zoo_reviews/static_rate", zoo_review: zoo_review %></td>
      </tr>
    <% end %>
  </tbody>
</table>