<table>
  <tbody>
      <% zoo_review.review_comments.each do |review_comment| %>
      <tr>

        <td>
          <%= link_to user_path(review_comment.user) do %>
            <%= review_comment.user.nickname %>
          <% end %>
        </td>
        <td><%= review_comment.comment %></td>
        <td>
          <% if review_comment.user == current_user %>
            <%= link_to "Destroy", zoo_zoo_review_review_comment_path(@zoo, @zoo_review, review_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>