<div class="container pt-5">
  <div class="row">
    <h3><strong>登録情報</strong></h3>
    <p><%= link_to "編集する", edit_user_path, class: "btn btn-success ml-5" %></p>
  </div>
  <div class="row table-responsive mx-auto">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="bg-light">ニックネーム</td>
          <td><%= @user.nickname %></td>
        </tr>
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
    </table>
  </div>
</div>